.container {
  display: flex;
  flex-direction: column;
}
.title {
  background-color: skyblue;
  padding: 15px;
  text-align: center;
  color: white;
}
.input {
  font-size: 100%;
  padding: 15px;
  border-width: 0;
}
.item {
  background-color: whitesmoke;
  margin-bottom: 5px;
  padding: 15px;
}
